.scene {
  text-align: center;
    margin: 20%;
    margin-top: 20%;
    width: 200px;
    height: 200px;
    perspective: 600px;
  }
  .cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 5s infinite linear;
    scale: 60%;
  }
  .cube_f {
    opacity: 0,5;
    position: absolute;
    width: 200px;
    height: 200px;
  }
  @keyframes spin {
    0% {
      transform: rotateX(-30deg) rotateY(0deg);
    }
  
    100% {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }
  .cube_f-front{transform: rotateY(0deg) translateZ(100px);}
  .cube_f-right{transform: rotateY(90deg) translateZ(100px);}
  .cube_f-back{transform: rotateY(180deg) translateZ(100px);}
  .cube_f-left{transform: rotateY(-90deg) translateZ(100px);}
  .cube_f-top{transform: rotateX(90deg) translateZ(100px);}
  .cube_f-bottom{transform: rotateX(-90deg) translateZ(100px);}